* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  list-style-type: none !important;
  outline: none !important;
}

ul {
  padding: 0;
  margin: 0;
}

.page-here {
  background-image: url("../img/portfoliohere.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}

.page-here .h-title h1 {
  text-shadow: 1px 1px 2px #000000a6;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
}

.rs-about {
  padding: 140px 0;
}

.rs-about .image-part {
  max-width: 100%;
  position: relative;
}

.rs-about .image-part img {
  max-height: 600px;
  max-width: 100%;
  border-radius: 10px;
}

.rs-about .image-part .author-info {
  position: absolute;
  top: 89%;
  left: 22%;
  z-index: 2;
  background: #106eea;
  text-align: center;
  padding: 30px 30px;
  width: 270px;
  border-radius: 8px;
  color: white;
}

.rs-about .image-part .author-info .name {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 8px;
}

.rs-about .image-part .author-info .designation {
  display: block;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2.5px;
}

.rs-about .rb-about-p-2 .sec-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.rs-about .rb-about-p-2 .sec-title .sub-title {
  color: #106eea;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: start;
}

.rs-about .rb-about-p-2 .sec-title .title {
  margin-bottom: 18px;
  font-size: 36px;
  line-height: 40px;
  color: #1c1b1b;
  margin: 0 0 26px;
  font-weight: 700;
}

.rs-about .rb-about-p-2 .desc {
  text-align: start;
}

.rs-about .rb-about-p-2 .listing-style2 {
  margin-bottom: 33px;
}

.rs-about .rb-about-p-2 .listing-style2 li {
  position: relative;
  padding-left: 30px;
  line-height: 2em;
  font-size: 16px;
  margin-bottom: 15px;
}

.rs-about .rb-about-p-2 .listing-style2 li::after {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f058";
  color: #106eea;
}

.rs-about .rb-about-p-2 .btn-part .readon {
  padding: 15px 29px;
  border: none;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #106eea;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rs-about .rb-about-p-2 .btn-part .readon:hover {
  background: #228bfd;
}

.contact-form {
  padding: 100px 0;
}

.contact-form .sec-title {
  padding: 10px 0;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.contact-form .sec-title .sub-title,
.contact-form .sec-title .title {
  color: white !important;
}

.contact-form .quote-img {
  background-image: url("../img/contactleft.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 303px 0;
}

.contact-form .form-part {
  background-color: #155fb8;
  padding: 72px 70px 94px;
}

.contact-form .form-part .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.contact-form .form-part .form-row .form-group input {
  margin: 10px 0;
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 30px;
  color: #ffffff;
  background: rgba(18, 115, 235, 0.5);
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 0;
}

.contact-form .form-part .form-row .form-group input::-webkit-input-placeholder {
  color: white;
}

.contact-form .form-part .form-row .form-group input:-ms-input-placeholder {
  color: white;
}

.contact-form .form-part .form-row .form-group input::-ms-input-placeholder {
  color: white;
}

.contact-form .form-part .form-row .form-group input::placeholder {
  color: white;
}

.contact-form .form-part .form-row .form-group input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.contact-form .form-part #textArea {
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 30px;
  color: #ffffff;
  background: rgba(18, 115, 235, 0.5);
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 0;
}

.contact-form .form-part #textArea::-webkit-input-placeholder {
  color: white;
}

.contact-form .form-part #textArea:-ms-input-placeholder {
  color: white;
}

.contact-form .form-part #textArea::-ms-input-placeholder {
  color: white;
}

.contact-form .form-part #textArea::placeholder {
  color: white;
}

.contact-form .form-part #textArea:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.contact-form .form-part .readon[type="submit"] {
  background: #ffffff;
  color: #106eea;
  font-weight: 400;
  padding: 13px 32px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-form .form-part .readon[type="submit"]:hover {
  background-color: #106eea;
  color: white;
}

.rs-contact {
  padding: 100px 0;
}

.rs-contact .info-item {
  background: #f1f6fc;
  padding: 50px 30px 37px;
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
}

.rs-contact .info-item .icon-part i {
  font-size: 80px;
  color: #106eea;
  line-height: 1;
  margin-top: -5px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.rs-contact .info-item .icon-part i::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6%;
  top: 7%;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #acccf4;
}

.rs-contact .info-item .content-part .title {
  color: #363636;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 9px;
  font-weight: 700;
}

.rs-contact .info-item .content-part a {
  font-size: 18px;
  color: #363636;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rs-contact .info-item .content-part a:hover {
  color: #106eea;
}

@media (max-width: 991px) {
  .quote-img {
    display: none;
  }
  .col-m1 {
    display: none;
  }
  .col-m2 {
    max-width: 100%;
  }
}

@media (max-width: 1199px) {
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form .res:first-child {
    display: none;
  }
  .contact-form .res:last-child {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=contact.css.map */