* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  list-style-type: none !important;
  outline: none !important;
}

ul {
  padding: 0;
  margin: 0;
}

.page-here {
  background-image: url("../img/serviceshere.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}

.page-here .h-title h1 {
  text-shadow: 1px 1px 2px #000000a6;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
}

.rs-about {
  padding: 140px 0;
}

.rs-about .image-part {
  max-width: 100%;
  position: relative;
}

.rs-about .image-part img {
  max-height: 600px;
  max-width: 100%;
  border-radius: 10px;
}

.rs-about .image-part .author-info {
  position: absolute;
  top: 89%;
  left: 22%;
  z-index: 2;
  background: #106eea;
  text-align: center;
  padding: 30px 30px;
  width: 270px;
  border-radius: 8px;
  color: white;
}

.rs-about .image-part .author-info .name {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 8px;
}

.rs-about .image-part .author-info .designation {
  display: block;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2.5px;
}

.rs-about .rb-about-p-2 .sec-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.rs-about .rb-about-p-2 .sec-title .sub-title {
  color: #106eea;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: start;
}

.rs-about .rb-about-p-2 .sec-title .title {
  margin-bottom: 18px;
  font-size: 36px;
  line-height: 40px;
  color: #1c1b1b;
  margin: 0 0 26px;
  font-weight: 700;
}

.rs-about .rb-about-p-2 .desc {
  text-align: start;
}

.rs-about .rb-about-p-2 .listing-style2 {
  margin-bottom: 33px;
}

.rs-about .rb-about-p-2 .listing-style2 li {
  position: relative;
  padding-left: 30px;
  line-height: 2em;
  font-size: 16px;
  margin-bottom: 15px;
}

.rs-about .rb-about-p-2 .listing-style2 li::after {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f058";
  color: #106eea;
}

.rs-about .rb-about-p-2 .btn-part .readon {
  padding: 15px 29px;
  border: none;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #106eea;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rs-about .rb-about-p-2 .btn-part .readon:hover {
  background: #228bfd;
}

.rs-faq {
  padding: 100px 0;
}

.rs-faq .sec-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.rs-faq .sec-title .sub-title {
  color: #106eea;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.rs-faq .sec-title .mtitle {
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 40px;
  color: #1c1b1b;
  margin: 0 0 26px;
  font-weight: 700;
}

.rs-faq .sec-title .desc {
  font-size: 16px;
  color: #363636;
  text-align: start;
}

.rs-faq .form-part {
  background-image: url("../img/faqform.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 30px;
}

.rs-faq .form-part .form-row {
  max-width: 100%;
}

.rs-faq .form-part .form-row .form-group input {
  margin: 10px 0;
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 30px;
  color: #ffffff;
  background: rgba(10, 56, 112, 0.25);
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 0;
}

.rs-faq .form-part .form-row .form-group input::-webkit-input-placeholder {
  color: white;
}

.rs-faq .form-part .form-row .form-group input:-ms-input-placeholder {
  color: white;
}

.rs-faq .form-part .form-row .form-group input::-ms-input-placeholder {
  color: white;
}

.rs-faq .form-part .form-row .form-group input::placeholder {
  color: white;
}

.rs-faq .form-part .form-row .form-group input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.rs-faq .form-part #textArea {
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 30px;
  color: #ffffff;
  background: rgba(10, 56, 112, 0.25);
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 0;
}

.rs-faq .form-part #textArea::-webkit-input-placeholder {
  color: white;
}

.rs-faq .form-part #textArea:-ms-input-placeholder {
  color: white;
}

.rs-faq .form-part #textArea::-ms-input-placeholder {
  color: white;
}

.rs-faq .form-part #textArea::placeholder {
  color: white;
}

.rs-faq .form-part #textArea:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.rs-faq .form-part .readon[type="submit"] {
  background: #ffffff;
  color: #106eea;
  font-weight: 400;
  padding: 13px 32px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rs-faq .accordion-all .accordion {
  max-width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 22px #0000001a;
          box-shadow: 0 0 22px #0000001a;
}

.rs-faq .accordion-all .accordion .title p {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #1c1b1b;
  display: block;
  color: black;
  padding: 20px 10px;
  padding-left: 65px !important;
  position: relative;
}

.rs-faq .accordion-all .accordion .title p::before {
  position: absolute;
  top: 29%;
  left: 4%;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f06e";
  color: #106eea;
  font-size: 25px;
}

.rs-faq .accordion-all .accordion .acc-content {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.rs-faq .accordion-all .accordion .acc-content .content .text {
  font-weight: 400;
  color: #363636;
  padding: 15px 40px 41px 20px !important;
}

.rs-faq .accordion-all .accordion.active .acc-content {
  max-height: 300px;
}

.rs-faq .accordion-all .accordion.active .title p::before {
  content: "\f070";
}
/*# sourceMappingURL=faq.css.map */