* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  list-style-type: none !important;
  outline: none !important;
}

ul {
  padding: 0;
  margin: 0;
}

.page-here {
  background-image: url("../img/serviceshere.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0;
}

.page-here .h-title h1 {
  text-shadow: 1px 1px 2px #000000a6;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
}

.rs-started {
  background-image: url("../img/bg21.jpg");
  padding: 100px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rs-started .sec-title .sub-title {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: white;
}

.rs-started .sec-title .title {
  color: white;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  max-width: 590px;
  margin: 39px 0;
  text-align: center;
}

.rs-started .sec-title .btn-part .readon {
  background: #ffffff;
  color: #228bfd;
  padding: 15px 29px;
  border: none;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mini-section2 .service-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px;
  text-align: center;
  background: #f1f6fc;
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 8px rgba(206, 203, 203, 0.781);
          box-shadow: 3px 2px 8px rgba(206, 203, 203, 0.781);
}

.mini-section2 .service-wrap .icon-part img {
  max-width: 70px;
}

.mini-section2 .service-wrap .content-part {
  width: 100%;
}

.mini-section2 .service-wrap .content-part .title {
  margin: 20px 0;
}

.mini-section2 .service-wrap .content-part .title a {
  color: #1b1b1b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 700;
}

.mini-section2 .service-wrap .content-part .title a:hover {
  color: #106eea;
}

.mini-section2 .service-wrap .content-part .desc {
  font-size: 14px;
  font-weight: 400;
  color: #363636;
  line-height: 1.7;
}

.rs-freequote {
  padding: 100px 0;
}

.rs-freequote .quote-img {
  background-image: url("../img/quoteimg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 244px 0;
}

.rs-freequote .form-part {
  background-color: #155fb8;
  padding: 72px 70px 94px;
}

.rs-freequote .form-part .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.rs-freequote .form-part .form-row .form-group input {
  margin: 10px 0;
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 30px;
  color: #ffffff;
  background: rgba(18, 115, 235, 0.5);
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 0;
}

.rs-freequote .form-part .form-row .form-group input::-webkit-input-placeholder {
  color: white;
}

.rs-freequote .form-part .form-row .form-group input:-ms-input-placeholder {
  color: white;
}

.rs-freequote .form-part .form-row .form-group input::-ms-input-placeholder {
  color: white;
}

.rs-freequote .form-part .form-row .form-group input::placeholder {
  color: white;
}

.rs-freequote .form-part .form-row .form-group input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.rs-freequote .form-part #textArea {
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 30px;
  color: #ffffff;
  background: rgba(18, 115, 235, 0.5);
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 0;
}

.rs-freequote .form-part #textArea::-webkit-input-placeholder {
  color: white;
}

.rs-freequote .form-part #textArea:-ms-input-placeholder {
  color: white;
}

.rs-freequote .form-part #textArea::-ms-input-placeholder {
  color: white;
}

.rs-freequote .form-part #textArea::placeholder {
  color: white;
}

.rs-freequote .form-part #textArea:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.rs-freequote .form-part .readon[type=submit] {
  background: #ffffff;
  color: #106eea;
  font-weight: 400;
  padding: 13px 32px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rs-freequote .form-part .readon[type=submit]:hover {
  background-color: #106eea;
  color: white;
}

@media (max-width: 767px) {
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-m1 {
    display: none;
  }
  .col-m2 {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .col-m1 {
    display: none;
  }
  .col-m2 {
    max-width: 100%;
  }
}
/*# sourceMappingURL=services.css.map */