* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  list-style-type: none !important;
  outline: none !important;
}

ul {
  padding: 0;
  margin: 0;
}

.rb-about {
  background-image: url("../img/bg1.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 0 0;
}

.rb-about .rb-image img {
  max-width: 100%;
}

.rb-about .about-part2 .title-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.rb-about .about-part2 .title-about .sub-title {
  color: #106eea;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.rb-about .about-part2 .title-about .rb-title {
  color: #1c1b1b;
  margin: 0 0 0 0 !important;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.rb-about .about-part2 .about-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rb-about .about-part2 .about-box-container .about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rb-about .about-part2 .about-box-container .about-box .box-img img {
  width: 100px;
  margin: 0 10px 0 0;
}

.rb-about .about-part2 .about-box-container .about-box .services-text .text-title {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 28px;
  color: #1c1b1b;
  margin: 0 0 0 0;
  font-weight: 700;
}

.rb-about .about-part2 .about-box-container .about-box .services-text .desc {
  font-size: 16px;
  color: #363636;
  line-height: 1.7;
  font-weight: 400;
}

.mini-section .service-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px;
  text-align: center;
  background: #f1f6fc;
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 8px rgba(206, 203, 203, 0.781);
          box-shadow: 3px 2px 8px rgba(206, 203, 203, 0.781);
}

.mini-section .service-wrap .icon-part img {
  max-width: 70px;
}

.mini-section .service-wrap .content-part {
  width: 100%;
}

.mini-section .service-wrap .content-part .title {
  margin: 20px 0;
}

.mini-section .service-wrap .content-part .title a {
  color: #1b1b1b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 700;
}

.mini-section .service-wrap .content-part .title a:hover {
  color: #106eea;
}

.mini-section .service-wrap .content-part .desc {
  font-size: 14px;
  font-weight: 400;
  color: #363636;
  line-height: 1.7;
}

.mini-section2 .service-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px;
  text-align: center;
  background: #f1f6fc;
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 8px rgba(206, 203, 203, 0.781);
          box-shadow: 3px 2px 8px rgba(206, 203, 203, 0.781);
}

.mini-section2 .service-wrap .icon-part img {
  max-width: 70px;
}

.mini-section2 .service-wrap .content-part {
  width: 100%;
}

.mini-section2 .service-wrap .content-part .title {
  margin: 20px 0;
}

.mini-section2 .service-wrap .content-part .title a {
  color: #1b1b1b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 700;
}

.mini-section2 .service-wrap .content-part .title a:hover {
  color: #106eea;
}

.mini-section2 .service-wrap .content-part .desc {
  font-size: 14px;
  font-weight: 400;
  color: #363636;
  line-height: 1.7;
}

.owl-stage-outer {
  padding: 50px 0;
}

.owl-stage-outer .responsive .slick-arrow {
  display: none !important;
}

.owl-stage-outer .responsive .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.owl-stage-outer .responsive .slick-dots li {
  margin: 20px 0 20px 15px;
}

.owl-stage-outer .responsive .slick-dots li button {
  font-size: 0;
  border-radius: 50px;
  background-color: #88b7f5;
  width: 25px;
  height: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.owl-stage-outer .responsive .slick-dots li:first-child {
  margin-right: 0;
}

.owl-stage-outer .responsive .slick-dots .slick-active button {
  background-color: #106eea;
  width: 40px;
}

.owl-stage-outer .responsive .responsive-box .portfolio-item {
  overflow: hidden;
  margin: 0 20px 0 0;
  border-radius: 5px;
  position: relative;
  max-width: 100%;
}

.owl-stage-outer .responsive .responsive-box .portfolio-item > .overlay {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 2;
}

.owl-stage-outer .responsive .responsive-box .portfolio-item .item-img img {
  max-width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}

.owl-stage-outer .responsive .responsive-box .portfolio-item .content-part {
  position: absolute;
  top: 223px;
  left: 10px;
  z-index: 3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.owl-stage-outer .responsive .responsive-box .portfolio-item .content-part a {
  color: #dad9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.owl-stage-outer .responsive .responsive-box .portfolio-item .content-part .title a {
  color: white;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.owl-stage-outer .responsive .responsive-box .portfolio-item .content-part a:hover,
.owl-stage-outer .responsive .responsive-box .portfolio-item .content-part title > a:hover {
  color: #106eea;
}

.owl-stage-outer .responsive .responsive-box .portfolio-item:hover .item-img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.owl-stage-outer .responsive .responsive-box .portfolio-item:hover .content-part {
  top: 200px;
}

.rs-skillbar-section {
  padding: 150px 0;
}

.rs-skillbar-section .content-part {
  padding: 52px 60px 60px 75px;
}

.rs-skillbar-section .container {
  background-color: #f1f6fc;
}

.rs-skillbar-section .container .rs-part1 .sb-info .sec-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.rs-skillbar-section .container .rs-part1 .sb-info .sec-title .sub-title {
  color: #106eea;
  font-weight: 600;
  margin-bottom: 8px;
}

.rs-skillbar-section .container .rs-part1 .sb-info .sec-title .sb-title {
  color: #1c1b1b;
  margin: 0 0 26px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.rs-skillbar-section .container .rs-part1 .skill-bars-boxes .bar-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.rs-skillbar-section .container .rs-part1 .skill-bars-boxes .bar-info-item .bar-title {
  font-weight: 600;
  color: #212121;
  font-size: 14px;
}

.rs-skillbar-section .container .rs-part1 .skill-bars-boxes .bar-info-item .skill-bar-percent {
  font-size: 14px;
  font-weight: 600;
  color: #212121;
}

.rs-skillbar-section .container .rs-part1 .skill-bars-boxes .sb-items .this-is-skillbar {
  background: #eeeeee;
  height: 10px;
  margin: 17px 0 24px;
  position: relative;
  width: 100%;
}

.rs-skillbar-section .container .rs-part1 .skill-bars-boxes .sb-items .this-is-skillbar .skillbar-bar-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  background-color: #106eea;
  height: 10px;
  margin-bottom: 0;
}

.rs-skillbar-section .container .rs-part1 .readon {
  margin-top: 60px;
  padding: 15px 29px;
  border: none;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: #106eea;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rs-skillbar-section .container .rs-part1 .readon:hover {
  background: #228bfd;
}

.rs-skillbar-section .container .sb-info-img {
  background: url("../img/skill.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  height: 100%;
}

.rs-testimonial {
  padding: 125px 0;
  background-color: #f1f6fc;
}

.rs-testimonial .one-time .slick-arrow {
  display: none !important;
}

.rs-testimonial .one-time .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rs-testimonial .one-time .slick-dots li {
  margin: 20px 0 20px 15px;
}

.rs-testimonial .one-time .slick-dots li button {
  font-size: 0;
  border-radius: 50px;
  background-color: #88b7f5;
  width: 25px;
  height: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.rs-testimonial .one-time .slick-dots li:first-child {
  margin-right: 0;
}

.rs-testimonial .one-time .slick-dots .slick-active button {
  background-color: #106eea;
  width: 40px;
}

.rs-testimonial .slider-part {
  padding: 67px 85px 62px 70px;
}

.rs-testimonial .rs-testimonial-img {
  background-image: url("../img/left-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px 0;
}

.rs-testimonial .testimonial-slider .testi-item .content-part .icon-part i {
  color: rgba(18, 115, 235, 0.12);
  font-size: 50px;
}

.rs-testimonial .testimonial-slider .testi-item .content-part .desc {
  color: #363636c7;
  font-size: 21px;
  font-style: italic;
  line-height: 34px;
  text-align: center;
  width: 100%;
  margin: 23px 0;
}

.rs-testimonial .testimonial-slider .testi-item .posted-by .avatar img {
  width: 65px;
  height: auto;
  border-radius: 100%;
  margin: 10px auto;
}

.rs-testimonial .testimonial-slider .testi-item .posted-by .name {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.rs-testimonial .testimonial-slider .testi-item .posted-by .designation {
  color: #878787;
  font-weight: 500;
}

.rs-patner {
  padding: 0px 0 100px;
  background-color: #f1f6fc;
}

.rs-patner .responsive .patner-box {
  margin: 0;
}

.rs-patner .responsive .patner-box .partner-item {
  position: relative;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.rs-patner .responsive .patner-box .partner-item img {
  max-width: 100%;
  margin: 0;
}

.rs-patner .responsive .patner-box .partner-item:hover {
  opacity: 1;
}

.rs-patner .slick-arrow {
  display: none !important;
}

.rs-patner .slick-dots {
  display: none;
}

.rs-patner .slick-dots button {
  display: none;
}

.rs-patner .slick-dots li {
  margin: 20px 0 20px 15px;
}

.rs-patner .slick-dots li button {
  font-size: 0;
  border-radius: 50px;
  background-color: #88b7f5;
  width: 25px;
  height: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.rs-patner .slick-dots li:first-child {
  margin-right: 0;
}

.rs-patner .slick-dots .slick-active button {
  background-color: #106eea;
  width: 40px;
}

.team-members .responsive .slick-arrow {
  display: none !important;
}

.team-members .responsive .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-members .responsive .slick-dots li {
  margin: 20px 0 20px 15px;
}

.team-members .responsive .slick-dots li button {
  font-size: 0;
  border-radius: 50px;
  background-color: #88b7f5;
  width: 25px;
  height: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.team-members .responsive .slick-dots li:first-child {
  margin-right: 0;
}

.team-members .responsive .slick-dots .slick-active button {
  background-color: #106eea;
  width: 40px;
}

.team-members .responsive .responsive-box .portfolio-item {
  overflow: hidden;
  margin: 0 20px 0 0;
  border-radius: 5px;
  position: relative;
  max-width: 100%;
}

.team-members .responsive .responsive-box .portfolio-item > .overlay {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 2;
}

.team-members .responsive .responsive-box .portfolio-item .item-img img {
  max-width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}

.team-members .responsive .responsive-box .portfolio-item .content-part {
  position: absolute;
  top: 223px;
  left: 10px;
  z-index: 3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.team-members .responsive .responsive-box .portfolio-item .content-part a {
  color: #dad9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.team-members .responsive .responsive-box .portfolio-item .content-part .title a {
  color: white;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.team-members .responsive .responsive-box .portfolio-item .content-part a:hover,
.team-members .responsive .responsive-box .portfolio-item .content-part title > a:hover {
  color: #106eea;
}

.team-members .responsive .responsive-box .portfolio-item:hover .item-img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.team-members .responsive .responsive-box .portfolio-item:hover .content-part {
  top: 200px;
}

.team-members .team-wrap .team-item {
  position: relative;
  max-width: 350px;
  overflow: hidden;
  border-bottom: 3px solid #eaedf0;
  border-radius: 5px 5px 3px 3px;
  margin: 0 10px 0 10px;
}

.team-members .team-wrap .team-item .team-image {
  overflow: hidden;
  height: 290px;
}

.team-members .team-wrap .team-item .team-image img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.team-members .team-wrap .team-item .hover-text-up {
  height: 200px;
}

.team-members .team-wrap .team-item .hover-text-up .text-bottom {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  background: #f1f6fc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team-members .team-wrap .team-item .hover-text-up .text-bottom .person-nouns {
  margin-top: -23px;
  text-align: center;
}

.team-members .team-wrap .team-item .hover-text-up .text-bottom .person-nouns .person-name a {
  color: #1c1b1b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 20px;
  margin-bottom: 3px;
  text-transform: uppercase;
  line-height: 28px;
  font-weight: 700;
}

.team-members .team-wrap .team-item .hover-text-up .text-bottom .person-nouns .designation {
  display: block;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #1c1b1b;
}

.team-members .team-wrap .team-item .hover-text-up .text-bottom .social-links {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team-members .team-wrap .team-item .hover-text-up .text-bottom .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-members .team-wrap .team-item .hover-text-up .text-bottom .social-links ul li {
  margin: 0 0 0 10px;
}

.team-members .team-wrap .team-item .hover-text-up .text-bottom .social-links ul li:first-child {
  margin-left: 0;
}

.team-members .team-wrap .team-item .hover-text-up .text-bottom .social-links ul li a {
  color: white;
}

.team-members .team-wrap .team-item:hover .team-image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team-members .team-wrap .team-item:hover .text-bottom {
  top: 236px;
  background: #106eea;
}

.team-members .team-wrap .team-item:hover .text-bottom .person-nouns .person-name a {
  color: white;
}

.team-members .team-wrap .team-item:hover .text-bottom .person-nouns .designation {
  color: white;
}

.team-members .team-wrap .team-item:hover .text-bottom .social-links {
  opacity: 1;
}

.read-latest-updates {
  padding: 100px 0;
}

.read-latest-updates .latest-title .m-title span {
  padding-right: 65px;
  position: relative;
  display: inline-block;
  color: #106eea;
  font-weight: 600;
  margin-bottom: 8px;
}

.read-latest-updates .latest-title .m-title span::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 0;
  background-color: #106eea;
  width: 50px;
  height: 2px;
}

.read-latest-updates .latest-title .main-title span {
  color: #1c1b1b;
  margin: 0 0 26px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.read-latest-updates .viewbtn .readon {
  padding: 15px 29px;
  border: none;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background: #106eea;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.read-latest-updates .viewbtn .readon:hover {
  opacity: 0.8;
}

.read-latest-updates .updates-items .updates-box {
  position: relative;
  max-width: 500px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 5px;
}

.read-latest-updates .updates-items .updates-box:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.read-latest-updates .updates-items .updates-box:hover .fly-btn {
  opacity: 1;
}

.read-latest-updates .updates-items .updates-box:hover .box-img img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.read-latest-updates .updates-items .updates-box .fly-btn {
  position: absolute;
  top: 50%;
  left: 39%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100%;
  background: #106eea;
  text-align: center;
  display: inline-block;
  color: white;
  font-size: 18px;
  z-index: 4;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.read-latest-updates .updates-items .updates-box .fly-btn:hover {
  background: #228bfd;
}

.read-latest-updates .updates-items .updates-box .box-img img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.read-latest-updates .updates-items .updates-box .box-desc {
  padding: 33px 25px 25px;
  background-color: #ffffff;
}

.read-latest-updates .updates-items .updates-box .box-desc .content-part .categories {
  margin: 11px 0 0;
  text-transform: uppercase;
  color: #363636;
  display: inline-block;
  font-size: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.read-latest-updates .updates-items .updates-box .box-desc .content-part .categories:hover {
  color: #106eea;
}

.read-latest-updates .updates-items .updates-box .box-desc .content-part .upd-title {
  margin: 10px 0;
}

.read-latest-updates .updates-items .updates-box .box-desc .content-part .upd-title a {
  font-size: 18px;
  font-weight: 600;
  color: #1c1b1b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.read-latest-updates .updates-items .updates-box .box-desc .content-part .upd-title a:hover {
  color: #106eea;
}

.read-latest-updates .updates-items .updates-box .box-desc .content-part .blog-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.read-latest-updates .updates-items .updates-box .box-desc .content-part .blog-meta .user-data img {
  border-radius: 100%;
  max-width: 40px;
  margin-right: 8px;
}

.read-latest-updates .updates-items .updates-box .box-desc .content-part .blog-meta .user-data span {
  font-size: 15px;
}

.read-latest-updates .updates-items .updates-box .box-desc .content-part .blog-meta .date {
  font-size: 14px;
}

.read-latest-updates .updates-items .updates-box .box-desc .content-part .blog-meta .date i {
  color: #106eea;
  margin-right: 5px;
}

.read-latest-updates .responsive .slick-arrow {
  display: none !important;
}

.read-latest-updates .responsive .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read-latest-updates .responsive .slick-dots li {
  margin: 20px 0 20px 15px;
}

.read-latest-updates .responsive .slick-dots li button {
  font-size: 0;
  border-radius: 50px;
  background-color: #88b7f5;
  width: 25px;
  height: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.read-latest-updates .responsive .slick-dots li:first-child {
  margin-right: 0;
}

.read-latest-updates .responsive .slick-dots .slick-active button {
  background-color: #106eea;
  width: 40px;
}

.read-latest-updates .responsive .responsive-box .portfolio-item {
  overflow: hidden;
  margin: 0 20px 0 0;
  border-radius: 5px;
  position: relative;
  max-width: 100%;
}

.read-latest-updates .responsive .responsive-box .portfolio-item > .overlay {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 2;
}

.read-latest-updates .responsive .responsive-box .portfolio-item .item-img img {
  max-width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}

.read-latest-updates .responsive .responsive-box .portfolio-item .content-part {
  position: absolute;
  top: 223px;
  left: 10px;
  z-index: 3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.read-latest-updates .responsive .responsive-box .portfolio-item .content-part a {
  color: #dad9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.read-latest-updates .responsive .responsive-box .portfolio-item .content-part .title a {
  color: white;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.read-latest-updates .responsive .responsive-box .portfolio-item .content-part a:hover,
.read-latest-updates .responsive .responsive-box .portfolio-item .content-part title > a:hover {
  color: #106eea;
}

.read-latest-updates .responsive .responsive-box .portfolio-item:hover .item-img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.read-latest-updates .responsive .responsive-box .portfolio-item:hover .content-part {
  top: 200px;
}

@media (max-width: 991px) {
  .m-991 {
    margin: 30px 0;
  }
  .owl-stage-outer .responsive .slick-dots {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */