* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box !important;
    font-family: "Poppins", sans-serif;
    text-decoration: none !important;
    list-style-type: none !important;
    outline: none !important;
}

ul {
    padding: 0;
    margin: 0;
}
.page-here {
    background-image: url("../img/about-here.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0;
    .h-title {
        h1 {
            text-shadow: 1px 1px 2px #000000a6;
            font-size: 46px;
            font-weight: 700;
            line-height: 56px;
            color: #ffffff;
            text-transform: capitalize;
            text-align: center;
        }
    }
}
.rs-about {
    padding: 140px 0;
    .image-part {
        max-width: 100%;
        position: relative;
        img {
            max-height: 600px;
            max-width: 100%;
            border-radius: 10px;
        }
        .author-info {
            position: absolute;
            top: 89%;
            left: 22%;
            z-index: 2;
            background: #106eea;
            text-align: center;
            padding: 30px 30px;
            width: 270px;
            border-radius: 8px;
            color: white;
            .name {
                font-weight: 600;
                font-size: 25px;
                line-height: 32px;
                margin-bottom: 8px;
            }
            .designation {
                display: block;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 2.5px;
            }
        }
    }
    .rb-about-p-2 {
        .sec-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .sub-title {
                color: #106eea;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 8px;
                text-align: start;
            }
            .title {
                margin-bottom: 18px;
                font-size: 36px;
                line-height: 40px;
                color: #1c1b1b;
                margin: 0 0 26px;
                font-weight: 700;
            }
        }
        .desc {
            text-align: start;
        }
        .listing-style2 {
            margin-bottom: 33px;
            li {
                position: relative;
                padding-left: 30px;
                line-height: 2em;
                font-size: 16px;
                margin-bottom: 15px;
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 400;
                    content: "\f058";
                    color: #106eea;
                }
            }
        }
        .btn-part {
            .readon {
                padding: 15px 29px;
                border: none;
                border-radius: 3px;
                display: inline-block;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                background: #106eea;
                transition: all 0.3s ease;
                &:hover {
                    background: #228bfd;
                }
            }
        }
    }
}
.rs-counter {
    background-image: url("../img/bg21.jpg");
    padding: 100px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .sec-title {
        .sub-title {
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 8px;
            color: white;
        }
        .title {
            color: white;
            font-size: 36px;
            line-height: 40px;
            font-weight: 700;
        }
    }
    .counter-part {
        padding: 30px 0;
        color: white;
        text-align: center;
        .counter {
            animation-duration: 1s;
            animation-delay: 0s;
        }
        h1 {
            font-size: 50px;
            line-height: 60px;
            font-weight: 700;
            padding-right: 14px;
            margin-bottom: 20px;
            position: relative;
            & > .k::after {
                position: absolute;
                content: "+";
                color: white;
                bottom: 7px;
                font-size: 19px;
                line-height: 26px;
                font-weight: 700;
            }
            & > .plus::after {
                position: absolute;
                content: "k";
                color: white;
                bottom: 7px;
                font-size: 19px;
                line-height: 26px;
                font-weight: 700;
            }
        }
        h3 {
            font-size: 20px;
            font-weight: 600;
            color: #ffffff;
            text-transform: capitalize;
            margin: 0;
        }
    }
}
.owl-stage-outer {
    padding: 250px 0;
    .owl-wrap {
        height: 300px;
        .stage-box {
            max-width: 476px;
            transition: all.3s;
            position: relative;
            margin: 0 20px 196px 20px;
            .box-image {
                img {
                    max-width: 100%;
                }
            }
            .text-bottom {
                padding: 24px 25px;
                text-align: center;
                transition: all 0.3s ease;
                max-width: 70%;
                background-color: white;
                z-index: 2;
                box-shadow: 0px 15px 34px -5px #c1c1c14d;
                position: absolute;
                top: 80%;
                left: 9%;
                display: flex;
                flex-direction: column;
                align-items: center;
                //  height: 300px;
                .person-name {
                    margin-bottom: 5px;
                    font-size: 22px;
                    text-transform: capitalize;
                    line-height: normal;
                    a {
                        color: #000;
                        transition: all.3s;
                        &:hover {
                            color: #106eea;
                        }
                    }
                }
                .designation {
                    margin: 15px 0;
                    display: block;
                    color: #000;
                    margin: 4px 0 0;
                    font-size: 14px;
                    text-transform: uppercase;
                }
                .desc {
                    font-size: 14px;
                    height: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 89%;
                    line-height: 24px;
                    opacity: 0;
                    overflow: hidden;
                    transition: all.3s;
                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        background: #000;
                        top: 36%;
                        left: 37%;
                        width: 50px;
                        height: 2px;
                    }
                }
                .team-social {
                    ul {
                        display: flex;
                        justify-content: center;
                        li {
                            margin-right: 18px;
                            &:first-child {
                                margin-left: 0;
                            }
                            a {
                                color: #106eea;
                                transition: all 0.3s ease;
                                &:hover {
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
            &:hover {
                .desc {
                    height: 100px;
                    opacity: 1;
                }
            }
        }
    }
    .responsive {
        .patner-box {
            margin: 0;

            .partner-item {
                position: relative;
                width: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.5;
                transition: all.3s;
                img {
                    max-width: 100%;
                    margin: 0;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .slick-arrow {
        display: none !important;
    }
    .slick-dots {
        display: none;
        button {
            display: none;
        }
        li {
            margin: 20px 0 20px 15px;
            button {
                font-size: 0;
                border-radius: 50px;
                background-color: #88b7f5;
                width: 25px;
                height: 8px;
                transition: all.5s;
            }
            &:first-child {
                margin-right: 0;
            }
        }
        .slick-active {
            button {
                background-color: #106eea;
                width: 40px;
            }
        }
    }
}
.rs-form-part {
    padding: 150px 0 0;
    .quote-img {
        background-image: url("../img/about-bg.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 256px 0;
    }
    .form-part {
        background-color: #155fb8;
        padding: 72px 70px 94px;
        .form-row {
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            .form-group {
                input {
                    margin: 10px 0;
                    width: 100%;
                    border: none;
                    outline: none;
                    margin-bottom: 30px;
                    color: #ffffff;
                    background: rgba(18, 115, 235, 0.5);
                    font-size: 16px;
                    padding: 11px 20px;
                    border-radius: 0;
                    &::placeholder {
                        color: white;
                    }
                    &:focus {
                        outline: none !important;
                        box-shadow: none !important;
                    }
                }
            }
        }

        #textArea {
            width: 100%;
            border: none;
            outline: none;
            margin-bottom: 30px;
            color: #ffffff;
            background: rgba(18, 115, 235, 0.5);
            font-size: 16px;
            padding: 11px 20px;
            border-radius: 0;
            &::placeholder {
                color: white;
            }
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
        .readon[type="submit"] {
            background: #ffffff;
            color: #106eea;
            font-weight: 400;
            padding: 13px 32px;
            cursor: pointer;
            border: none;
            border-radius: 3px;
            display: inline-block;
            text-transform: uppercase;
            transition: all 0.3s ease;
            &:hover {
                background-color: #106eea;
                color: white;
            }
        }
    }
}
@media (max-width: 767px) {
    .form-row {
        flex-direction: column;
    }
    .col-m1 {
        display: none;
    }
    .col-m2 {
        max-width: 100%;
    }
}
@media (max-width: 991px) {
    .form-row {
        flex-direction: column;
    }
    .col-m1 {
        display: none;
    }
    .col-m2 {
        max-width: 100%;
    }
}

@media (max-width: 989px) {
    .rb-about-p-2 {
        padding-top: 50px;
    }
}
