* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box !important;
    font-family: "Poppins", sans-serif;
    text-decoration: none !important;
    list-style-type: none !important;
    outline: none !important;
}
ul {
    padding: 0;
    margin: 0;
}
.page-here {
    background-image: url("../img/portfoliohere.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    .h-title {
        h1 {
            text-shadow: 1px 1px 2px #000000a6;
            font-size: 46px;
            font-weight: 700;
            line-height: 56px;
            color: #ffffff;
            text-transform: capitalize;
            text-align: center;
        }
    }
}
.rs-about {
    padding: 140px 0;
    .image-part {
        max-width: 100%;
        position: relative;
        img {
            max-height: 600px;
            max-width: 100%;
            border-radius: 10px;
        }
        .author-info {
            position: absolute;
            top: 89%;
            left: 22%;
            z-index: 2;
            background: #106eea;
            text-align: center;
            padding: 30px 30px;
            width: 270px;
            border-radius: 8px;
            color: white;
            .name {
                font-weight: 600;
                font-size: 25px;
                line-height: 32px;
                margin-bottom: 8px;
            }
            .designation {
                display: block;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 2.5px;
            }
        }
    }
    .rb-about-p-2 {
        .sec-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .sub-title {
                color: #106eea;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 8px;
                text-align: start;
            }
            .title {
                margin-bottom: 18px;
                font-size: 36px;
                line-height: 40px;
                color: #1c1b1b;
                margin: 0 0 26px;
                font-weight: 700;
            }
        }
        .desc {
            text-align: start;
        }
        .listing-style2 {
            margin-bottom: 33px;
            li {
                position: relative;
                padding-left: 30px;
                line-height: 2em;
                font-size: 16px;
                margin-bottom: 15px;
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 400;
                    content: "\f058";
                    color: #106eea;
                }
            }
        }
        .btn-part {
            .readon {
                padding: 15px 29px;
                border: none;
                border-radius: 3px;
                display: inline-block;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                background: #106eea;
                transition: all 0.3s ease;
                &:hover {
                    background: #228bfd;
                }
            }
        }
    }
}
.contact-form {
    padding: 100px 0;

    .sec-title {
        padding: 10px 0;
        align-items: flex-start !important;
        .sub-title,
        .title {
            color: white !important;
        }
    }
    .quote-img {
        background-image: url("../img/contactleft.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 303px 0;
    }
    .form-part {
        background-color: #155fb8;
        padding: 72px 70px 94px;
        .form-row {
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            .form-group {
                input {
                    margin: 10px 0;
                    width: 100%;
                    border: none;
                    outline: none;
                    margin-bottom: 30px;
                    color: #ffffff;
                    background: rgba(18, 115, 235, 0.5);
                    font-size: 16px;
                    padding: 11px 20px;
                    border-radius: 0;
                    &::placeholder {
                        color: white;
                    }
                    &:focus {
                        outline: none !important;
                        box-shadow: none !important;
                    }
                }
            }
        }

        #textArea {
            width: 100%;
            border: none;
            outline: none;
            margin-bottom: 30px;
            color: #ffffff;
            background: rgba(18, 115, 235, 0.5);
            font-size: 16px;
            padding: 11px 20px;
            border-radius: 0;
            &::placeholder {
                color: white;
            }
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
        .readon[type="submit"] {
            background: #ffffff;
            color: #106eea;
            font-weight: 400;
            padding: 13px 32px;
            cursor: pointer;
            border: none;
            border-radius: 3px;
            display: inline-block;
            text-transform: uppercase;
            transition: all 0.3s ease;
            &:hover {
                background-color: #106eea;
                color: white;
            }
        }
    }
}
.rs-contact {
    padding: 100px 0;
    .info-item {
        background: #f1f6fc;
        padding: 50px 30px 37px;
        text-align: center;
        margin-top: 20px;
        overflow: hidden;
        .icon-part {
            i {
                font-size: 80px;
                color: #106eea;
                line-height: 1;
                margin-top: -5px;
                margin-bottom: 20px;
                position: relative;
                z-index: 1;
                &::after{
                    
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 6%;
                    top: 7%;
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    background-color: #acccf4;
                }
            }
        }
        .content-part {
           
            .title {
                color: #363636;
                margin-bottom: 12px;
                font-size: 20px;
                line-height: 28px;
                margin: 0 0 9px;
                font-weight: 700;
            }
            a{
                font-size: 18px;
                color: #363636;
                transition: all.3s ease;
                
                &:hover{
                    color: #106eea;
                }
            }
            
        }
    }
}
@media (max-width: 991px) {
    .quote-img {
        display: none;
    }
    .col-m1 {
        display: none;
    }
    .col-m2 {
        max-width: 100%;
    }
}
@media (max-width: 1199px) {
    .form-row {
        flex-direction: column;
    }
    .contact-form {
        .res {
            &:first-child {
                display: none;
            }
            &:last-child {
                margin: 0 auto;
            }
        }
    }
}
