
//not-responsive
.top-info {
    padding: 10px 0;
    background-color: #106eea;
    a {
        color: white;
    }
    .top-left {
        display: flex;
        margin: 10px 0 0 0;
        li {
            margin: 0 10px 0 0;
            font-size: 14px;
            i {
                color: white;
                font-size: 15px;
                margin: 0 7px 0 0;
            }
        }
    }
    .top-right {
        display: flex;
        li {
            margin: 3px 7px 0 0;
            color: white;
            a {
                color: white;
                transition: all.3s;
            }
            i {
                margin: 5px 0 0 0;
            }
        }
        .h-icon {
            a {
                font-size: 12px;
                &:hover {
                    color: #ccc;
                }
            }
        }
        .opening {
            border-right: 1px solid #1273eb;
            display: inline-block;
            font-size: 14px;
        }
        i {
            font-size: 15px;
        }
    }
}
.rb-about {
    background-image: url("../img/bg1.jpg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 0 0;
    .rb-image {
        img {
            max-width: 100%;
        }
    }
    .about-part2 {
        .title-about {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .sub-title {
                color: #106eea;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 8px;
            }
            .rb-title {
                color: #1c1b1b;
                margin: 0 0 0 0 !important;
                font-weight: 700;
                font-size: 36px;
                line-height: 40px;
            }
        }
        .about-box-container {
            display: flex;
            flex-direction: column;
            .about-box {
                display: flex;

                .box-img {
                    img {
                        width: 100px;
                        margin: 0 10px 0 0;
                    }
                }
                .services-text {
                    .text-title {
                        font-size: 20px;
                        margin-bottom: 10px;
                        line-height: 28px;
                        color: #1c1b1b;
                        margin: 0 0 0 0;
                        font-weight: 700;
                    }
                    .desc {
                        font-size: 16px;
                        color: #363636;
                        line-height: 1.7;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
.top-nav {
    padding: 36px 0 0 0;
    background-color: white;
    box-shadow: 0 0 20px -10px #000000d9;
    .top-logo {
        width: 150px;
        img {
            max-width: 100%;
        }
    }
    .nav-menu-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .nav-menu {
            display: flex;

            & > li {
                margin: 0 50px 0 0;
                padding: 20px 0;
                transition: all 0.3s ease;
                font-size: 13px;
                font-weight: 700;
                color: #101010;

                & > a {
                    color: #101010;
                    padding: 26px 0;
                    transition: all.3s;
                    &:hover {
                        color: #106eea;
                    }
                }
            }
            .active {
                position: relative;
                cursor: default;
                & > a {
                    cursor: default;
                }

                &::after {
                    position: absolute;
                    content: "+";
                    top: 20px;
                    right: -15px;
                    font-size: 14px;
                    font-weight: 500;
                    display: inline-block;
                    transition: all.3s;
                }
                .active-menu {
                    position: absolute;
                    background-color: #0d6efd;
                    top: 70px;
                    left: 0;
                    height: 209px;
                    width: 225px;
                    padding: 20px 0 0 0;
                    border-radius: 0 0 5px 5px;
                    transition: all.3s;
                    opacity: 0;
                    visibility: hidden;

                    & > li {
                        height: 50px;
                        a {
                            padding: 11px 110px 11px 40px;
                            line-height: 0;
                            color: #ffffff;
                            font-weight: 600;
                            font-size: 14px;
                            text-transform: capitalize;
                            transition: all.3s;
                        }
                        :hover {
                            color: #ccc;
                        }
                    }
                }
                &:hover {
                    &::after {
                        content: "-";
                    }
                    .active-menu {
                        visibility: visible;
                        opacity: 1;
                        top: 60px;
                    }
                }

                & .hw-d {
                    height: 109px !important;
                    width: 254px !important;
                }
            }
            &:first-child {
                margin: 0 0 0 0;
            }
        }
        .grafics {
            position: relative;
            .grafic1 {
                position: absolute;
                top: 0;
                left: 0;
            }
            .grafic2 {
                position: absolute;
                top: -2px;
                left: -1px;
                visibility: hidden;
                opacity: 0;
                transition: all.2s;
            }
            &:hover {
                .grafic2 {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .top-info {
        display: none;
    }
    .top-nav {
        display: none;
    }
}

@media (max-width: 991px ) {
    .responsiv-nav{
        display: block;
    }
}