* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box !important;
    font-family: "Poppins", sans-serif;
    text-decoration: none !important;
    list-style-type: none !important;
    outline: none !important;
}

ul {
    padding: 0;
    margin: 0;
}
.page-here {
    background-image: url("../img/ourpeoplehere.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    .h-title {
        h1 {
            text-shadow: 1px 1px 2px #000000a6;
            font-size: 46px;
            font-weight: 700;
            line-height: 56px;
            color: #ffffff;
            text-transform: capitalize;
            text-align: center;
        }
    }
}
.rs-about {
    padding: 140px 0;
    .image-part {
        max-width: 100%;
        position: relative;
        img {
            max-height: 600px;
            max-width: 100%;
            border-radius: 10px;
        }
        .author-info {
            position: absolute;
            top: 89%;
            left: 22%;
            z-index: 2;
            background: #106eea;
            text-align: center;
            padding: 30px 30px;
            width: 270px;
            border-radius: 8px;
            color: white;
            .name {
                font-weight: 600;
                font-size: 25px;
                line-height: 32px;
                margin-bottom: 8px;
            }
            .designation {
                display: block;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 2.5px;
            }
        }
    }
    .rb-about-p-2 {
        .sec-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .sub-title {
                color: #106eea;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 8px;
                text-align: start;
            }
            .title {
                margin-bottom: 18px;
                font-size: 36px;
                line-height: 40px;
                color: #1c1b1b;
                margin: 0 0 26px;
                font-weight: 700;
            }
        }
        .desc {
            text-align: start;
        }
        .listing-style2 {
            margin-bottom: 33px;
            li {
                position: relative;
                padding-left: 30px;
                line-height: 2em;
                font-size: 16px;
                margin-bottom: 15px;
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 400;
                    content: "\f058";
                    color: #106eea;
                }
            }
        }
        .btn-part {
            .readon {
                padding: 15px 29px;
                border: none;
                border-radius: 3px;
                display: inline-block;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                background: #106eea;
                transition: all 0.3s ease;
                &:hover {
                    background: #228bfd;
                }
            }
        }
    }
}
.team-grid {
    padding: 100px 0;
    .mb-57 {
        margin-bottom: 57px;
    }
    .team-item {
        .image-part {
            overflow: hidden;
            margin-bottom: 10px;
            border-radius: 100%;
            transition: all.3s ease;
            a {
                img {
                    max-width: 100%;
                    transition: all.3s ease;
                }
            }
        }
        .content-part {
            .name {
                text-align: center;
                a {
                    color: #1c1b1b;
                    transition: all.3s ease;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 28px;
                    &:hover {
                        color: #106eea;
                    }
                }
            }
            .designation {
                text-align: center;
                color: #363636;
                font-size: 15px;
                display: block;
            }
            .social-links {
                display: flex;
                justify-content: center;
                margin: 10px 0;
                li {
                    a {
                        color: #106eea;
                        padding: 0 7px;
                        transition: all 0.3s ease;
                        font-size: 16px;
                        &:hover {
                            color: #1c1b1b;
                        }
                    }
                }
            }
        }
        &:hover {
            .image-part {
                a {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
